@use "variables" as *;

// 1. LOCAL VARIABLES (SIDEBAR)
:root {
    --sidebar-bg: #111;
    --text-muted: #888;
}

// 2. LAYOUT PRINCIPAL
.sidebar {
    position: fixed;
    top: 0; left: 0; bottom: 0;
    width: 320px;
    background: var(--sidebar-bg);
    padding: 30px 20px;
    border-right: 1px solid #333;
    z-index: 100;

    h2 {
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 300; // Remplacement de $weight-light par 300
    }
}



// TEST DE SURVIE DES JAUGES
.gauges {
    display: block !important;
    background: red !important; // Si tu vois du rouge, c'est que la classe est reconnue
    
    .gauge-row {
        display: flex !important;
        border: 1px solid yellow !important;
    }
}
