// Importation de Inter avec les poids : 200 (Extra-Light), 300 (Light), 400 (Regular), 700 (Bold)
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&display=swap');


/*LETRINES*/
/* Le style de ta lettrine tel que sur ton image */
/* LETTRINES */
.has-lettrine {
    // Sécurité : On force la suppression de bordure sur le paragraphe lui-même
    border: none !important;
    outline: none !important;
    text-decoration: none !important;

    &::first-letter {
        float: left;
        background-color: #ffffff; 
        color: #000000;            
        font-size: 3.5rem;         
        line-height: 1;            
        /*padding: 4px 10px;*/        
        margin-right: 6px;        
        /*margin-top: 4px; */          
        font-weight: 900;          
        display: block;            
    }
}
