@use "variables" as *;

/* GRILLE MASTER (PROTOCOLE FRACTIONS) */
.master-grid {
    display: grid;
    // On remplace 1fr par un minmax qui garantit 20px de marge minimum
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 1200px) minmax(20px, 1fr);
    column-gap: 0;
    width: 100%;
    



// REDONNE LA MAIN : Plus aucune contrainte de hauteur sur la grille
    min-height: auto;
   /* min-height: 101vh;*/







    & > * {
        grid-column: 2;
    }

    .full-width {
        grid-column: 1 / -1;
    }
}

/* CIBLE DE L'ANCRE & CALAGE ÉDITORIAL */
#main {
    scroll-margin-top: $header-height;
    padding-top: 2rem;

    & > :first-child {
        margin-top: 0 !important;
        h1, h2 { margin-top: 0; }
    }
}

/* SYSTÈME DE BLOCS DYNAMIQUES */
.grid-block {
    display: grid;
    gap: 20px;
    margin: 40px 0;
    width: 100%;
}

/* RESPONSIVE MOBILE (Base 393px) */
@media (max-width: 800px) {
    .master-grid {
        // Déjà sécurisé à 20px, on peut garder cette structure ou la simplifier
        grid-template-columns: 20px 1fr 20px;
    }
}