@use "variables" as *;

/* GRILLE MASTER (PROTOCOLE FRACTIONS) */
.master-grid {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 1200px) minmax(20px, 1fr);
    column-gap: 0;
    width: 100%;
    min-height: auto;

    & > * {
        grid-column: 2;
    }

    .full-width {
        grid-column: 1 / -1;
    }
}

/* CIBLE DE L'ANCRE & CALAGE ÉDITORIAL */
#main {
    scroll-margin-top: $header-height;
    padding-top: 2rem;

    & > :first-child {
        margin-top: 0 !important;
        h1, h2 { margin-top: 0; }
    }
}

/* SYSTÈME DE BLOCS DYNAMIQUES 
   Nettoyé de toute propriété de hauteur ou de largeur forcée
*/
.grid-block {
    margin: 0; 
}

/* RESPONSIVE MOBILE (Base 393px) */
@media (max-width: 800px) {
    .master-grid {
        grid-template-columns: 20px 1fr 20px;
    }
}